#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// Combo layers shared across OSes
#define SHARED_LAYERS DEF NAV NUM WIN_BASE WIN_NAV WIN_NUM

/* Horizontal combos - left hand */
ZMK_COMBO(esc,   &kp ESC,      LT3 LT2,     SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(mouse, &smart_mouse, LT2 LT1,     SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(tab,   &hml LS(LALT)TAB, LM3 LM2, SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ldr,   &leader,      LM2 LM1,     SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LCTRL), KEYS_R)
ZMK_COMBO(ldrsh, &leader_sft,  LM3 LM2 LM1, SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LC(LALT)), KEYS_R)

// macOS combos
ZMK_COMBO(cut,   &kp LG(X),  LB3 LB1,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy,  &kp LG(C),  LB3 LB2,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(paste, &kp LG(V),  LB2 LB1,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Windows combos
ZMK_COMBO(win_cut,   &kp LC(X),  LB3 LB1,     WIN_BASE WIN_NAV WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(win_copy,  &kp LC(C),  LB3 LB2,     WIN_BASE WIN_NAV WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(win_paste, &kp LC(V),  LB2 LB1,     WIN_BASE WIN_NAV WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(bspc,  &kp BSPC,     RT1 RT2,     SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(del,   &kp DEL,      RT2 RT3,     SHARED_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lpar,  &lpar_lt,     RM1 RM2,     DEF NUM WIN_BASE WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LCTRL), KEYS_L)
ZMK_COMBO(rpar,  &rpar_gt,     RM2 RM3,     DEF NUM WIN_BASE WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LALT), KEYS_L)
ZMK_COMBO(lt,    &kp LT,       RM1 RM2,     NAV WIN_NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(gt,    &kp GT,       RM2 RM3,     NAV WIN_NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lbkt,  &kp LBKT,     RB1 RB2,     DEF NUM WIN_BASE WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt,  &kp RBKT,     RB2 RB3,     DEF NUM WIN_BASE WIN_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc,  &kp LBRC,     RB1 RB2,     NAV WIN_NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc,  &kp RBRC,     RB2 RB3,     NAV WIN_NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - left hand */
ZMK_COMBO(at,    &kp AT,       LT3 LM3,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(hash,  &kp HASH,     LT2 LM2,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(dllr,  &kp DLLR,     LT1 LM1,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT,    LT0 LM0,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(grave, &kp GRAVE,    LM3 LB3,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(bslh,  &kp BSLH,     LM2 LB2,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(equal, &kp EQUAL,    LM1 LB1,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tilde, &kp TILDE,    LM0 LB0,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - right hand */
ZMK_COMBO(caret, &kp CARET,    RT0 RM0,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(plus,  &kp PLUS,     RT1 RM1,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(star,  &kp STAR,     RT2 RM2,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(amps,  &kp AMPS,     RT3 RM3,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(under, &kp UNDER,    RM0 RB0,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(minus, &kp MINUS,    RM1 RB1,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(fslh,  &kp FSLH,     RM2 RB2,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe,  &kp PIPE,     RM3 RB3,     SHARED_LAYERS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
